<table>
  <thead>
  	<tr>
  	  <th>Name</th>
  	  <th colspan="1"></th>
  	</tr>
  </thead>

  <tbody>
  	  <% @user_profiles.each do |user_profile| %>
  	  <tr>
  	    <td><%= user_profile.name %></td>
  	    <td><%= link_to 'add', add_path(id: user_profile.id) %></td>
  	  </tr>
      <% end %>
  </tbody>

  <%= form_tag add_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>


  <%= link_to 'back', contacts_path %>
